
#top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: #37314a;
    font-family:  Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 300;
    font-size: 14px;
    text-decoration : none;
    padding: 5px 5px 20px 5px;
    margin: 0px 0px 0px 0px;
}

.loginFormInput {
    background: none;
    border: 2px solid #ddd;
    min-height: 30px;
    min-width: 300px;
    border-radius: 8px;
}

.submitButton {
    background: #c2dfef;
    
    min-height: 30px;
    min-width: 300px;
    border-radius: 8px;
}



#navigationChoicesContainer {
    min-width: 70%;
    horizontal-align: middle;
    align-content: center;
}

#navigationChoices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0);
    color: #37314a;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}

#navigationUser {
    display:flex;
    width: 160px;
    align-content: center;
    justify-content: space-around;
    height:30px;
}

#navigationUser:hover {
    display:flex;
    width: 160px;
    align-content: center;
    justify-content: space-around;
    background-color: #c2dfef;
    height:30px;
    border-radius: 15px;
}

#verticalLine{
    width:3px;
    height:10px;
    background: #e38755;
    background-color: #e38755;
    color: #e38755
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*centers it on the horizontal axis*/
    /*justify-content: center;*/
    float: left;
    padding: 20px 5px 5px 20px;
    width: 250px;
    height: 70%;
    background: white;
    border-radius: 15px;
}

#sidebarChoices {
    display: flex;
    flex-direction: column;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0);
    color: #37314a;
    padding: 10px 5px 5px 5px;
    margin: 20px 0px 0px 0px;
}

#right {
    position: relative;
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#content {
    /*flex-direction: row;
   display: flex;*/
    position: relative;
    float:left;
    justify-content: space-evenly;
    padding: 0px 0px 0px 0px;
    height: 70%;
}

.center_content {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 5px 5px 20px;
    background-color:#e38755;
}

.left_content {
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    padding: 0px 5px 5px 20px;
}

.right_content {
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 5px 5px 20px;
    margin: 0px 170px 0px 170px;
    background-color:#045491;
}

#inputLabel {
    color: #37314a; 
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 0px 0px 0px;
}

#loginInputLabel {
    color: white; 
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 20px;
    padding: 8px 0px 0px 0px;
}

#lmsLogo {
    color: #37314a; 
    font-family: Arial, Monaco, Gill Sans, Verdana, Trebucha MS, Tahoma;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

#loginLmsLogo {
    color: white; 
    font-family: Arial, Monaco, Gill Sans, Verdana, Trebucha MS, Tahoma;
    font-weight: bold;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 15px;
}

#navigationChoices a:link, #navigationChoices a:visited  {
    color: #ABABC3;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma, Arial;
    font-weight: 400;
    font-size: 15px;
    text-decoration: bold;
}

#navigationChoices a:link:hover, #navigationChoices a:visited:hover  {
    color: #37314a; 
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 15px;
    text-decoration : none;
}

#navigationChoices a:link:after, #navigationChoices a:visited:after {
    color: #ABABC3;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma, Arial;
    font-weight: 400;
    font-size: 15px;
    text-decoration: bold;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#navigationChoices a:link:hover:after, #navigationChoices a:visited:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#sidebarChoices a:link {
    color: #37314a;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma, Arial;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
    border-radius: 16px;
}

#sidebarChoices a:link:hover {
    color: #37314a; 
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 300;
    font-size: 16px;
    text-decoration : none;
    background-color: #E1EFF3;
    background: #E1EFF3;
    padding: 8px;
    border-radius: 16px;
    
}

#formContainer {
    display: flex;
    flex-direction: row;
    background: white;
    align-self: center;
    justify-content: center;
    padding: 50px 20px 20px 20px;
    margin: 0px 20px 0px 20px;
    border-radius: 15px;
    position: absolute;
    min-width: 980px;
    
}

#inputText {
    color: #37314a; 
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 16px;
    text-decoration : none;
    background: #f7f1ea;
    height: 20px;
    width: 20%;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px;
}

#sidebarChoices a:visited {
    color: #37314a; 
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 300;
    font-size: 16px;
    text-decoration : none;
    padding: 8px;
    border: 1px solid #37314a;
    border-radius: 16px;

}

#sidebarChoices a:visited:hover  {
    color: #37314a; 
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 300;
    font-size: 16px;
    text-decoration : none;
    padding: 8px;
    border: 1px solid #37314a;
    border-radius: 16px;
}

#sidebarTitle a {
    color: #37314a; 
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 16px;
    padding: 8px;
}

.dropdown {
    display: inline-block;
    width: 160px;
    position: relative;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 14px;
}

.dropdown-content {
    display: none;
    width: 200px;
    position: absolute;
    width: 100%;
    overflow: auto;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
    margin-top: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 14px;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 14px;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #c2dfef;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 14px;
}

#bookTitle {
    color: black;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 500;
    font-size: 18px;
}

#bookInfo {
    display: flex;
}
        
#bookInfo1 {
    color: black;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 200;
    font-size: 15px;
    font-style: italic;
}

#bookInfo2 {
    color:#AFAFAF;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 200;
    font-size: 10px;
}
        
        
#loanCard {
    background: white;
    align-self: center;
    padding: 20px 20px 50px 20px;
    width: 250px;
    border-radius: 15px;
}

.custom-field.one input {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
  border-color: #222;
  transition-delay: 0.1s
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 0;
  font-size: 10px;
  color: #222;
  background: #fff;
  width: auto
}

#contentContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    
    
}

#loginContainer {
    position:relative;
}

.loginInput {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 40px;
    min-width: 400px;
    border-radius: 40px;
    color:#003366;
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 300;
    font-size: 22px;
    padding: 0px 20px 0px 20px;
}

.loginButton {
    background: #c2dfef;
    min-height: 40px;
    min-width: 440px; /*change this according to loginInput padding size*/
    border-radius: 40px;
    /*font*/
    color: white; 
    font-family: Gill Sans, Verdana, Trebucha MS, Tahoma,Arial;
    font-weight: 400;
    font-size: 20px;
    padding: 8px 0px 0px 0px;
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 20px 0px 20px;
  min-width: 980px;
}

